<!DOCTYPE html>
<html>
<body>

<h2>Compra De Acaos</h2>

<!--fazer algo para verificar o saldo do cara usuario -->



<p>Acaos já Cadastradas</p>
<table border="1" >
  <tr>
    <td>Codigo de Indentificação</td>
      <td>Nome</td>
      <td>Valor do Investimento</td>
      <td>Funcionario?</td>
      <td>Compra</td>
  </tr>
  @$listindex@
</table>

<center>
<table border="1" >
  <tr>
    <td>Data</td>
    <td>Valor</td>
    <td>quantidade</td>
    <td>Codigo da Acao</td>
    <td>valor total das acaos</td>
    <td>acaos compradas</td>
  </tr>
  @$listcompra@
  @$listnumdeCompra@
</table>
<table border="1" >
  <tr>
    <td>acaos compradas</td>
  </tr>
  @$listsaldo@
</table>
<form action="/salvacompra" method="POST">
  <label for="fname">Data</label><br>
  <input type="text" id="data" name="data" value=""><br>
  <label for="fname">Valor</label><br>
  <input type="text" id="valordecompra" name="valordecompra" value=""><br>
  <label for="lname">Quantidade</label><br>
  <input type="text" id="quant" name="quant" value=""><br><br>
  <label for="lname">Codigo da Compra</label><br>
  <input type="text" id="codcompra" name="codcompra" value=""><br><br>
  <!--<label for="fname">Codigo da Acao</label><br>-->
     <!--<input type="text" id="codacao" name="codacao" value=""><br>--> 
  <input type="submit" value="Comprar">
  </form> 
</center>

