<!DOCTYPE html>
<html>
<body>

<h2>Açaos</h2>


<table border="1" >
  <tr>
    <td>Tipo</td>
    <td>Codigo de Indentificação</td>
      <td>Nome</td>
      <td>Valor do Investimento</td>
      <td>Funcionario?</td>
      <td>Compra</td>
  </tr>
  @$listindex@
</table>
@$saldo@
<form action="/salva" method="POST">
  <
  <label for="fname">Codigo de Indentificação</label><br>
  <input type="text" id="cod" name="cod" value=""><br>
  <label for="fname">Nome</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Valor do Investimento</label><br>
  <input type="text" id="valor" name="valor" value=""><br><br>
  <label for="lname">Funcionario ?</label><br>
  <label class="form-check-label"> Sim ?</label>
    <input type="radio" class="form-check-input" id="sim"name="sim">
    <label class="form-check-label"> Não ?</label>
    <input type="radio" class="form-check-input" id="nao"name="nao">
    label for="fname">Tipo ?</label><br>
  <label class="form-check-label"> preferencial ?</label>
  <input type="radio" class="form-check-input" id="preferencial"name="preferencial">
  <label class="form-check-label"> Ordinária ?</label>
  <input type="radio" class="form-check-input" id="Ordinária"name="Ordinária">
    <br><br>
   <!-- <label for="fname">Codigo dá ação a ser Comprada</label><br>
    <input type="text" id="compra" name="compra" value=""><br>-->
  <input type="submit" value="Cadastrar">
  </form> 

  <br><br>
  <button>
    <a href="/compra">Compras de acaos</a>
  </button>
  <button>
    <a href="/vender">Venda de Acaos</a>
  </button>
  <button>
    <a href="/dividendos">Dividendos</a>
  </button>
    
<div>
  Tamanho da lista @$list@.
  <script>
   // while( list.push(data) < 0)
    while('@$list@' < 0)
    {
      if('@$list@' == 0)
      '@$list@' ='@$list@' + '1';
    }
      
  </script>
</div>

</body>
</html>