!DOCTYPE html>
<html>
<body>

<h2>Venda De Acaos</h2>

<p> Acaos Compradas</p>

<table border="1" >
    <tr>
      <td>acaos compradas</td>
    </tr>
    @$listsaldo@
  </table>

<table border="1" >
    
  <tr>
    <td>Data</td>
    <td>Valor</td>
    <td>quantidade</td>
    <td>Codigo da Acao</td>
      
  </tr>
  @$listcompra@
</table>
<p> Vender ?</p>
<center>
    <table border="1" >
      <tr>
        <td>Codigo dá Acao</td>
      
      </tr>
      @$listvenda@
    </table>
    
    <form action="/salvavenda" method="POST">
      <label for="fname">Codigo da Acao</label><br>
      <input type="text" id="codacao" name="codacao" value=""><br>
     
      <input type="submit" value="Vender Acao">
      </form> 
    </center>

    <br><br>
  <button>
    <a href="/compra"><meta charset="utf-8">Compras de ações</a>
  </button>
  <button>
    <a href="/"><meta charset="utf-8">Cadastro de Ações</a>
  </button>
  <button>
    <a href="/dividendos">Dividendos</a>
  </button>